<!-- <h2>hola mundo {{ title}}</h2>



<input type="text" [(ngModel)]="newnombre" (keydown.enter)="addNombre()">

<button (click)="addNombre()">add</button>
<button (click)="empry()">empry</button>

<ul>
    <li *ngIf="nombres.length === 0">
        no hay nombres
    </li>

    <li *ngFor="let rock of nombres; index as i">
        {{rock}}{{i}}
        <button (click)="eliminarItem(i)">eliminar</button>
        <button (click)="actualizarItem(i)">update</button>
    </li>
    
</ul> -->
<!-- <div *ngIf=" === 'nicolas'">
    es nicolas
</div>

<div *ngIf="nombre === 'julian'">
    es julian
</div>

<div [ngSwitch]="newnombre"> 
    <p *ngSwitchCase="'nicolas'">es nicolas</p>
    <p *ngSwitchCase="'julian'">es julian</p>
    <p *ngSwitchCase="'camilo'">es camilo</p>
    <p *ngSwitchDefault=>no hace match</p>
</div> -->


<!-- <ul>
    <li *ngFor="let user of users">
        nombre: {{user.name}}
        edad: {{user.age}}
        soltero: {{user.isSingle ? 'si' : 'no'}}
        image: {{user.avatar}}
        <img [src]="user.avatar" alt="avatar" width="10%">
    </li>
</ul> -->

<!-- <app-product-list></app-product-list> -->

<!-- <app-list></app-list> -->

<app-user-list></app-user-list>
